<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.629982120859-79m7bh7ebne0bo1tpk6vlk38ehf5cu39</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>629982120859-79m7bh7ebne0bo1tpk6vlk38ehf5cu39.apps.googleusercontent.com</string>
</dict>
</plist>
